---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import Post from "../components/Post.astro";
import RecommendedPosts from "../components/RecommendedPosts.astro";
const pageTitle = "Home Page";
const allPosts = await Astro.glob("../pages/posts/*.md");
---

<BaseLayout pageTitle={pageTitle}>
  <main>
    <RecommendedPosts />
    <div class="career-history">
      <h2 class="career-section-title">経歴</h2>
      <section class="career-section">
        <div class="employment-period">
          <time datetime="2022-10">2022年10月</time>
          <span>-</span>
          <span>現在</span>
        </div>
        <div class="company-name">
          <h2>
            <span>クリエイティブサーベイ株式会社</span>
            <small>6ヶ月</small>
          </h2>
        </div>
      </section>
      <section class="career-section">
        <div class="employment-period">
          <time datetime="2021-04">2021年4月</time>
          <span>-</span>
          <span>2022年10月</span>
        </div>
        <div class="company-name">
          <h2>
            <span>株式会社Luminova Japan</span>
            <small>1年6ヶ月</small>
          </h2>
        </div>
      </section>
      <section class="career-section">
        <div class="employment-period">
          <time datetime="2020-03">2020年3月</time>
          <span>-</span>
          <span>2021年4月</span>
        </div>
        <div class="company-name">
          <h2>
            <span>スリーイー株式会社</span>
            <small>1年</small>
          </h2>
        </div>
      </section>
      <section class="career-section">
        <div class="employment-period">
          <time datetime="2020-03">2019年4月</time>
          <span>-</span>
          <span>2020年3月</span>
        </div>
        <div class="company-name">
          <h2>
            <span>鹿島フィット株式会社</span>
            <small>11ヶ月</small>
          </h2>
        </div>
      </section>
    </div>
  </main>
</BaseLayout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
  }

  .career-section {
    display: flex;
    align-items: center;
    gap: 20px; /* 余白のサイズ */
    position: relative;
  }
  .career-section-title {
    margin: 0px;
  }
  .career-section:not(:last-child)::before {
    content: "";
    display: block;
    width: 100%;
    height: 30px;
    border-left: 2px solid rgba(0, 0, 0, 0.24);
    position: absolute;
    left: 62px;
    top: 60px;
  }
</style>
