---
import { config } from "dotenv";
config();
// import { graphql } from "@octokit/graphql";
import {
  BarChart,
  Bar,
  XAxis,
  YAxis,
  CartesianGrid,
  Tooltip,
  Legend,
} from "recharts";

const data = [
  {
    name: "Page A",
    uv: 4000,
    pv: 2400,
    amt: 2400,
    date: "2023-03-01",
  },
  {
    name: "Page B",
    uv: 3000,
    pv: 1398,
    amt: 2210,
    date: "2023-03-01",
  },
  {
    name: "Page C",
    uv: 2000,
    pv: 9800,
    amt: 2290,
    date: "2023-03-01",
  },
  {
    name: "Page D",
    uv: 2780,
    pv: 3908,
    amt: 2000,
    date: "2023-03-01",
  },
  {
    name: "Page E",
    uv: 1890,
    pv: 4800,
    amt: 2181,
    date: "2023-03-01",
  },
  {
    name: "Page F",
    uv: 2390,
    pv: 3800,
    amt: 2500,
    date: "2023-03-01",
  },
  {
    name: "Page G",
    uv: 3490,
    pv: 4300,
    amt: 2100,
    date: "2023-03-01",
  },
];

const QUERY = `query ($userName: String!) {
  user(login: $userName) {
    contributionsCollection {
      contributionCalendar {
        totalContributions
        weeks {
          contributionDays {
            contributionCount
            date
          }
        }
      }
    }
  }
}`;
console.log(process.env.PUBLIC_GIT_API_TOKEN);

// const fetchData = async () => {
//   const userName = "murata-hiroki";
//   const token = process.env.PUBLIC_GIT_API_TOKEN;
//   const result = await graphql(QUERY, {
//     userName,
//     headers: { authorization: `token ${token}` },
//   });
//   const lastIndex =
//     result.user.contributionsCollection.contributionCalendar.weeks.length - 1;
//   console.log(
//     result.user.contributionsCollection.contributionCalendar.weeks[lastIndex]
//   );

//   return;
// };

// console.log(await fetchData());

// export async function page() {
//   const data = await fetchData();
//   return { props: { data } };
// }
---

<div>
  <BarChart width={800} height={400} data={data}>
    <XAxis dataKey="date" />
    <YAxis />
    <CartesianGrid stroke="#ccc" strokeDasharray="5 5" />
    <Tooltip />
    <Legend />
    <Bar dataKey="contributionCount" fill="#8884d8" />
  </BarChart>
</div>
