---
import githubIcon from "../img/icons8-github.svg";
import twitterIcon from "../img/icons8-ツイッター.svg";
import instagramIcon from "../img/icons8-instagram.svg";
const socialAccounts = [
  {
    name: "GitHub",
    iconUrl: githubIcon,
    linkUrl: "https://example.com",
    color: "",
  },
  {
    name: "Twitter",
    iconUrl: twitterIcon,
    linkUrl: "https://example.com",
    color: "",
  },
  {
    name: "Instagram",
    iconUrl: instagramIcon,
    linkUrl: "https://example.com",
    color: "",
  },
];
---

<ul>
  {
    socialAccounts.map((account) => {
      console.log(account);
      return (
        <li>
          <a href={account.linkUrl}>
            <img src={account.iconUrl} alt={account.name} />
          </a>
        </li>
      );
    })
  }
</ul>

<style>
  ul {
    display: flex;
    align-items: center;
  }
  img {
    width: 30px;
  }
</style>
